.nav {
    min-height: 100px;
    background-color: #05022D;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        min-height: 100px;
        &_footer{
            height: 125px;
            align-items:center;
        }
    }
    &__bar{
        display: flex;
        align-items:center;
        justify-content: space-between;
        width: 570px;
    }
    &__menu{
        width: 270px;
        display: flex;
        justify-content: space-between;
    }
    &__link{
        font-size: 12px;
        line-height: 25px;
        @include ffont(400);
        color: #fff;
        text-decoration: none;
        &:hover{
            text-decoration: none;
            color:#fff;
        }
    }
    &__phone{
        a{
            font-size: 14px;
            line-height: 19px;
            @include ffont(600);
            color: #FFF;
            text-decoration: none;
        }
    }
    &__social{
        width: 132px;
        display: flex;
        justify-content: space-between;
    }
    &__img {
        width: 32px;
        height: 32px;
        img{
            width: 100%;
        }
    }
    &_footer {
        height: 125px;
        background-color: #6C63FF;;
    }
}
.logo {
    display: block;
    margin-top: 13px;
    width: 77px;
    height: 70px;
    img{
        width: 100%;
    }
}