.num {
    position: relative;
    padding-bottom: 35px;
    font-size: 14px;
    line-height: 25px;
    color: #000000;
    @include ffont(400);
    span{
    position: absolute;
    left: -80px;
    top: 5px;
    font-size: 60px;
    line-height: 45px;
    @include ffont(600);
    color:transparent;
    -webkit-text-stroke: 3px $purple-l;
    }
}